* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato";
}

details>summary {
  list-style: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.box-content {
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  background: #222222;
  position: relative;
}

.header__left_icons {
  margin-top: 18px;
  margin-bottom: 19px;
  display: flex;
  gap: 41px;
  align-items: flex-end;
}

.header__right_icons {
  padding-right: 20px;
  margin-top: 26px;
  margin-bottom: 20px;
  display: flex;
  gap: 33px;
  align-items: center;
}

.header__right_icons:last-child a {
  position: relative;
}

.things::after {
  position: absolute;
  background-image: url(../img/Ellipse2.svg);
  content: "5";
  color: #FBFBFB;
  left: 29px;
  bottom: 25px;
  width: 19px;
  height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger-menu__img {
  cursor: pointer;
}

.nav {
  position: absolute;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 32px;
  width: 232px;
  z-index: 1;
  box-sizing: border-box;
  top: 78px;
  right: 0px;
  transition: right 0.3s;
}

.nav__heading {
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #222;
}

.nav__class_name {
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.nav__subclass {
  margin-top: 12px;
}

.nav__subclass:hover a {
  color: #F16D7F;
}

.nav__subclass a {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding-left: 20px;
}

#burger {
  position: absolute;
  left: -10000000000000000000000px;
  visibility: hidden;
}

#burger:checked~.nav {
  right: -250px;
}

.top_info {
  font-family: "Lato";
  margin-bottom: 65px;
  display: flex;
  align-items: center;
  background: #F1E4E6;
}

.img_men {
  max-width: 50%;
  max-height: 765px;
  margin-right: 64px;
}

.rectangle {
  margin-right: 16px;
}

.promo_title {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222;
}

.promo_heading {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #222;
}

.fasion {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #F16D7F;
}

.content {
  font-family: "Lato";
  background: #FFFFFF;
}

.upper_blocks {
  display: grid;
  grid-template-columns: repeat(3, minmax(232px, 360px));
  gap: 30px;
  justify-content: center;
  box-sizing: border-box;
}

.item {
  min-height: 260px;
}

.item1 {
  position: relative;
}

.info1 {
  position: absolute;
  background-image: url(../img/Group_36.webp);
  background-size: cover;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item2 {
  position: relative;
}

.info2 {
  position: absolute;
  background-image: url(../img/Group_37.webp);
  background-size: cover;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item3 {
  position: relative;
}

.info3 {
  position: absolute;
  background-image: url(../img/Group_38.webp);
  background-size: cover;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item4 {
  position: relative;
  grid-column-start: span 3;
  min-height: 180px;
}

.info4 {
  position: absolute;
  background-image: url(../img/Group_39.webp);
  background-size: cover;
  background-position: center;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  white-space: nowrap;
  color: #FFFFFF;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}

.between_text {
  margin-top: 96px;
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222;
}

.mid_text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.product {
  display: grid;
  grid-template-columns: repeat(auto-fill, 360px);
  gap: 30px;
  justify-content: center;
}

.product__card {
  background: #F8F8F8;
}

.hover_effect {
  position: relative;
}

.basket {
  background-color: rgb(58, 56, 56);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.basket_box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  border: 1px solid #FFFFFF;
  width: 138px;
  height: 43px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.basket:hover {
  transition: 0.3s;
  opacity: 0.86;
}

.product__info {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 16px;
  padding-right: 16px;
}

.product__name {
  margin-bottom: 12px;

  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.product__text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.product__price {
  margin-top: 18px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.button_pos {
  display: flex;
  justify-content: center;
}

.button_browse {
  padding-top: 15px;
  padding-bottom: 14px;
  padding-left: 39px;
  padding-right: 39px;
  margin-top: 48px;
  margin-bottom: 60px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  border: 1px solid #F16D7F;
  background: #FFFFFF;
}

.button_browse:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
  transition: 0.3s;
}

.bottom_content {
  font-family: "Lato";
}

.advantage {
  background: #222222;
  padding-top: 103px;
  padding-bottom: 104px;
  padding-left: 8px;
  padding-right: 8px;
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.advantage__item:first-child .advantage__image {
  margin-bottom: 28px;
}

.advantage__item:first-child .advantage__image__item:nth-child(2) .advantage__item:first-child .advantage__image__image {
  margin-bottom: 19px;
}

.advantage__item:first-child .advantage__image__item:last-child .advantage__item:first-child .advantage__image__image {
  margin-bottom: 25px;
}

.advantage__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantage__heading {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  /* identical to box height */
  color: #FBFBFB;
}

.advantage__discription {
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

.subscribe {
  background-image: url(../img/photo-subscribe.webp);
  background-size: cover;
  -o-object-fit: contain;
  object-fit: contain;
  padding-top: 86px;
  padding-bottom: 156px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.subscribe__review {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.subscribe__review_img {
  max-width: 96px;
  max-height: 96px;
}

.subscribe__review_text {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222;
}

.subscribe__form {
  margin-top: 38px;
  flex-direction: column;
}

.subscribe__form_forma {
  margin-top: 32px;
  height: 49px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  max-width: 360px;
}

.subscribe__form_input {
  padding-left: 22px;
  padding-right: 22px;
  width: 256px;
  height: 49px;
  background: #E1E1E1;
  border: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  color: #222;
  opacity: 0.67;
}

.subscribe__title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222;
}

.subscribe__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 167.2%;
  text-align: center;
  color: #222;
}

.subscribe__button {
  width: 100px;
  height: 49px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-top: 32px;
  border: none;
  left: 73.31%;
  right: 20.44%;
  top: 54.24%;
  bottom: 34.82%;
  cursor: pointer;
  background: #F16D7F;
  color: #FFFFFF;
}

.subscribe__button:active {
  border: 3px solid #866f6f;
}

.footer_block {
  height: 79px;
  background: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.bottom_links {
  display: flex;
  gap: 7px;
}

.links {
  position: relative;
  display: flex;
  width: 32px;
  height: 32px;
}

.link {
  position: absolute;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 31px;
}

.link:hover path {
  fill: white;
  transition: 0.3s;
}

.links:hover a {
  background-color: #F16D7F;
  transition: 0.3s;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 384px);
    padding-right: calc(50% - 384px);
  }

  .header {
    padding-left: 32px;
    padding-right: 32px;
  }

  .top_info {
    margin-bottom: 19px;
  }

  .img_men {
    margin-right: 40px;
  }

  .promo_title {
    font-size: 44px;
    line-height: 53px;
  }

  .promo_heading {
    font-size: 24px;
    line-height: 29px;
  }

  .fasion {
    font-size: 24px;
    line-height: 29px;
  }

  .content {
    padding-left: 16px;
    padding-right: 16px;
  }

  .upper_blocks {
    gap: 20px;
  }

  .item {
    min-height: 168px;
  }

  .between_text {
    margin-top: 154px;
    margin-bottom: 72px;
  }

  .product {
    gap: 16px;
  }

  .button_browse {
    margin-top: 32px;
    margin-bottom: 64px;
  }

  .advantage {
    grid-template-columns: repeat(1, 360px);
    gap: 48px;
    padding-top: 48px;
    padding-bottom: 64px;
  }

  .subscribe {
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
    align-content: center;
  }

  .subscribe__review {
    padding-top: 64px;
  }

  .subscribe__form {
    margin-top: 48px;
    margin-bottom: 140px;
  }

  .footer_block {
    padding: 0px 32px;
  }
}

@media (max-width: 767px) {
  .center {
    padding-left: calc(50% - 180px);
    padding-right: calc(50% - 180px);
  }

  .header {
    padding-left: 16px;
    padding-right: 16px;
  }

  .header__right_icons {
    padding: 0;
    gap: 0;
  }

  .hiden_img {
    display: none;
  }

  .things {
    display: none;
  }

  .top_info {
    display: flex;
    justify-content: center;
    height: 363px;
  }

  .img_men {
    display: none;
  }

  .upper_blocks {
    padding: 0px 8px;
    display: flex;
    flex-direction: column;
  }

  .item {
    height: 248px;
  }

  .item4 {
    height: 111px;
  }

  .between_text {
    margin: 0;
    padding: 64px 14px;
  }

  .subscribe__review_text {
    font-size: 18px;
    line-height: 22px;
  }

  .subscribe__text {
    font-size: 14px;
    line-height: 153.2%;
  }

  .subscribe__form {
    margin-bottom: 110px;
  }

  .subscribe__form_forma {
    padding: 0px 8px;
    box-sizing: border-box;
  }

  .footer_block {
    flex-direction: column-reverse;
    padding-top: 43px;
    padding-bottom: 9px;
  }

  .hiden-links {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */